$blanco-gris: #d9d9d9;
$gris-oscuro: #262626;
$rosadito-claro: #f2e3b3;
$rosadito-oscuro: #bf9663;
$marron-oscuro: #261d03;
$marron-verde: #594712;
$sombreado: rgba(0, 0, 0, 0.5);
$gradiente-mamuth: linear-gradient(to bottom, $marron-oscuro, $marron-verde);
