@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap");
@import 'colores';

$mi-fuente: "Baloo 2", cursive;

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    font-family: $mi-fuente;
    color: $blanco-gris; 
    font-size: 1rem;
    line-height: 1.8;
    background-color: $gris-oscuro;

}

